:host{
  // z-index: 9999;
}

// :root{
// overflow: hidden;
// }

.small-text {
  color: #5b5b5b;
  font-size: 14px;
  font-weight: bold;
  border-radius: 50px;
  letter-spacing: 0.2px;
}

.panel {
  width: 100%; /* Each section takes full viewport width */
  height: 100%; /* Full container height */
}

#section-container {
  // overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  padding: 2rem;
  // flex-direction: column;
  // transform: translateX(0); /* Start at initial position */
}

.scroll-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  // flex-wrap: wrap;
  @media (max-width: 576px) {
    width: 65vw;
    height: 65vh;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1.5rem;
    // width: 50vw;
    // height: 50vh;
  }
  .content-1 {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    // justify-content: flex-start;
    flex: 1 1 auto;
    flex-wrap: wrap;
    padding: 5rem;
    @media (max-width: 576px) {
      // justify-content: center;
      margin-left: 2rem;
      width: 100%;
      font-size: 1.4rem;
    }
    .c1-2 {
        position: relative;
        div {
            position: absolute;
            top: 0rem;
            // color: #6366f1;
            
            // To make the text-color linear gradient
            background: linear-gradient(90deg, #6366f1, #8b5cf6, #ec4899);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            color: transparent; /* Fallback for non-webkit browsers */
            @media (max-width: 576px) {
              width: 100%;
              // left: 2.1rem;
            }
        }
    }
}

.content-2 {
    margin-top: 2rem;
    @media (max-width: 576px) {
      width: 100vw;
    }
    img {
        width: 100%;
        height: 80%;
        // height: 100%;
        @media (max-width: 576px) {
          width: 95%;
          height: 80%;
        }
    }
}
}
