:host{
  // z-index: 9999;
}

// :root{
// overflow: hidden;
// }

.small-text {
  color: #5b5b5b;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50px;
  letter-spacing: 0.2px;
}

.medium-text{
  color: #5b5b5b;
  font-weight: bold;
  border-radius: 50px;
  letter-spacing: 0.2px;
}

.panel {
  width: 100%; /* Each section takes full viewport width */
  height: 100%; /* Full container height */
}

#section-container {
  // overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  padding: 2rem;
  // flex-direction: column;
  // transform: translateX(0); /* Start at initial position */
}

.scroll-container {
  width: 100dvw;
  min-height: 100dvh;
  display: flex;
  margin-top: 5rem;
  justify-content: space-between;
  // flex-wrap: wrap;
  @media (max-width: 576px) {
    margin-top: 2rem;
    width: 100dvw;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    margin: 1.5rem;
    // gap: 4rem;
    // width: 50vw;
    // height: 50vh;
  }
  .content-1 {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    width: 50dvw;
    // flex: 1 1 auto;
    flex-wrap: wrap;
    padding: 5rem;
    @media (max-width: 576px) {
      // justify-content: center;
      // margin-left: 2rem;
      width: 100dvw;
      justify-content: flex-start;
      padding: 1rem;
    }
    .c1-2 {
        position: relative;
        @media screen and (max-width: 576px) {
           width: 100%;
        }
        p {
            position: absolute;
            top: 0rem;
            font-size: 1.6rem;
            // color: #6366f1;

            // To make the text-color linear gradient
            background: linear-gradient(90deg, #6366f1, #8b5cf6, #ec4899);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            color: transparent; /* Fallback for non-webkit browsers */
            @media screen and (max-width: 576px) {
              width: 100%;
            }
        }
    }
}

.content-2 {
    margin-top: 2rem;
    width: 50dvw;
    @media (max-width: 576px) {
      width: 100dvw;
    }
    img {
        width: 100%;
        height: 80%;
        margin: -0.5rem;
        // height: 100%;
        @media (max-width: 576px) {
          width: 90%;
          padding-bottom: 5rem;
        }
    }
}
}
