<div>
 <div id="smooth-content" class="content">
    <!-- <section> -->
      <app-home-page></app-home-page>
    <!-- </section> -->
  <!-- <div #sectionsContainer id="section-container" class="more-sections"> -->
    <!-- <section class="about-section"> -->
      <app-about></app-about>
    <!-- </section> -->
    <!-- <section class="skills-section"> -->
      <!-- <app-home-page></app-home-page> -->
      <app-skills></app-skills>
      <!-- <app-about></app-about> -->
      <!-- <app-education></app-education> -->
    <!-- </section> -->
<!-- </div> -->
<!-- <app-about></app-about>
<app-home-page></app-home-page> -->

 </div>
<!-- <app-footer></app-footer> -->
</div>



<!-- <div class="panel-content">
  <section class="panel one">  </section>
  <section class="panel two">  </section>
  <section class="panel three"></section>
</div> -->