<div class="about_container mt-2 p-2">
    <div class="main_title">
        <h1 class="text-3xl font-semibold text-gray-900 mb-1">About Me</h1>
        <p class="text-gray-500 mb-10">My Introduction</p>
    </div>
    <div class="main_content m-6">
        <img class="mt-1" src="./../../../assets/full_stack_developer_updated.jpg" alt="">
        <div class="about_content">
            <p class="text-gray-500">Fullstack developer, with extensive knowledge and years of experience, expertise in frontend frameworks
                like Angular and Ui / Ux
                design, delivering quality work. Have extensive knowledge in backend frameworks such as .NET and have
                also worked in java.
                Emulate mobile devices in browser DevTools, but also test on real devices (iOS/Android) to ensure the
                issue is resolved, as some behaviors (e.g., touch events) differ.Emulate mobile devices in browser
                DevTools, but also test on real devices (iOS/Android) to ensure the issue is resolved, as some behaviors
                (e.g., touch events) differ.Emulate mobile devices in browser DevTools, but also test on real devices
                (iOS/Android) to ensure the issue is resolved, as some behaviors (e.g., touch events) differ.Emulate
                mobile devices in browser DevTools, but also test on real devices (iOS/Android) to ensure the issue is
                resolved, as some behaviors (e.g., touch events) differ.Emulate mobile devices in browser DevTools, but
                also test on real devices (iOS/Android) to ensure the issue is resolved, as some behaviors (e.g., touch
                events) differ.Emulate mobile devices in browser DevTools, but also test on real devices (iOS/Android)
                to ensure the issue is resolved, as some behaviors (e.g., touch events) differ.Emulate mobile devices in
                browser DevTools, but also test on real devices (iOS/Android) to ensure the issue is resolved, as some
                behaviors (e.g., touch events) differ.Emulate mobile devices in browser DevTools, but also test on real
                devices (iOS/Android) to ensure the issue is resolved, as some behaviors (e.g., touch events)
                differ.Emulate mobile devices in browser DevTools, but also test on real devices (iOS/Android) to ensure
                the issue is resolved, as some behaviors (e.g., touch events) differ.Emulate mobile devices in browser
                DevTools, but also test on real devices (iOS/Android) to ensure the issue is resolved, as some behaviors
                (e.g., touch events) differ.Emulate mobile devices in browser DevTools, but also test on real devices
                (iOS/Android) to ensure the issue is resolved, as some behaviors (e.g., touch events) differ.Emulate
                mobile devices in browser DevTools, but also test on real devices (iOS/Android) to ensure the issue is
                resolved, as some behaviors (e.g., touch events) differ.Emulate mobile devices in browser DevTools, but
                also test on real devices (iOS/Android) to ensure the issue is resolved, as some behaviors (e.g., touch
                events) differ.Emulate mobile devices in browser DevTools, but also test on real devices (iOS/Android)
                to ensure the issue is resolved, as some behaviors (e.g., touch events) differ.Emulate mobile devices in
                browser DevTools, but also test on real devices (iOS/Android) to ensure the issue is resolved, as some
                behaviors (e.g., touch events) differ.Emulate mobile devices in browser DevTools, but also test on real
                devices (iOS/Android) to ensure the issue is resolved, as some behaviors (e.g., touch events)
                differ.Emulate mobile devices in browser DevTools, but also test on real devices (iOS/Android) to ensure
                the issue is resolved, as some behaviors (e.g., touch events) differ.
            </p>
            <div class="about_experience">
                <div class="years_experience">
                    <div class="years">2+</div>
                    <span>Years Of</span><br>
                    <span>Experience</span>
                </div>
                <div class="projects">
                    <div class="years">2+</div>
                    <span>Completed</span><br>
                    <span>Projects</span>
                </div>
                <div class="companies">
                    <div class="years">1</div>
                    <span>Company</span><br>
                    <span>Worked</span>
                </div>
            </div>
            <div class="download_button z-30">
                <a download="" href="./../../../assets/Angular - Three.js.pdf">Download CV
                    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24"
                        id="download-alt" stroke="currentColor">
                        <defs>
                            <linearGradient id="myGradient" x1="0%" y1="0%" x2="100%" y2="0%">
                                <stop offset="0%" stop-color="#6366f1" />
                                <stop offset="50%" stop-color="#8b5cf6" />
                                <stop offset="100%" stop-color="#ec4899" />
                            </linearGradient>
                        </defs>
                        <path fill="url(#myGradient)"
                            d="M18,9h-2c-0.6,0-1,0.4-1,1s0.4,1,1,1h2c0.6,0,1,0.4,1,1v7c0,0.6-0.4,1-1,1H6c-0.6,0-1-0.4-1-1v-7c0-0.6,0.4-1,1-1h2c0.6,0,1-0.4,1-1S8.6,9,8,9H6c-1.7,0-3,1.3-3,3v7c0,1.7,1.3,3,3,3h12c1.7,0,3-1.3,3-3v-7C21,10.3,19.7,9,18,9z M8.3,14.7l3,3c0.2,0.2,0.4,0.3,0.7,0.3c0.3,0,0.5-0.1,0.7-0.3l3-3c0.4-0.4,0.4-1,0-1.4c-0.4-0.4-1-0.4-1.4,0L13,14.6V3c0-0.6-0.4-1-1-1s-1,0.4-1,1v11.6l-1.3-1.3c-0.4-0.4-1-0.4-1.4,0C7.9,13.7,7.9,14.3,8.3,14.7z">
                        </path>
                    </svg>
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24" id="download-alt"><path fill="#FFFEFE" d="M18,9h-2c-0.6,0-1,0.4-1,1s0.4,1,1,1h2c0.6,0,1,0.4,1,1v7c0,0.6-0.4,1-1,1H6c-0.6,0-1-0.4-1-1v-7c0-0.6,0.4-1,1-1h2c0.6,0,1-0.4,1-1S8.6,9,8,9H6c-1.7,0-3,1.3-3,3v7c0,1.7,1.3,3,3,3h12c1.7,0,3-1.3,3-3v-7C21,10.3,19.7,9,18,9z M8.3,14.7l3,3c0.2,0.2,0.4,0.3,0.7,0.3c0.3,0,0.5-0.1,0.7-0.3l3-3c0.4-0.4,0.4-1,0-1.4c-0.4-0.4-1-0.4-1.4,0L13,14.6V3c0-0.6-0.4-1-1-1s-1,0.4-1,1v11.6l-1.3-1.3c-0.4-0.4-1-0.4-1.4,0C7.9,13.7,7.9,14.3,8.3,14.7z"></path></svg> -->
                </a>
            </div>
        </div>
    </div>
</div>