<div class="scroll-container" #scrollContainer>
    <div class="home-page">
          <div class="content-1 p-5">
              <div class="small-text">
                  Welcome to my portfolio website!!
              </div>
              <div class="transition-all c1-1 font-extrabold">
                  Geff Shelby
              </div>
              <div class="c1-2">
                  I'm @if (isShowText) {

                  <div [@fadeIn]>
                      {{currentSkill}}
                  </div>
                  }
              </div>
          </div>
          <div class="content-2">
              <img src="assets/u1.svg" alt="Hello">
          </div>
    </div>
</div>
