<div class="about_container">
    <div class="main_title">
        <p class="font-extrabold">About Me</p>
        <span class="font-thin">My Introduction</span>
    </div>
    <div class="main_content m-6">
        <img class="m-1 p-2" src="./../../../assets/my-life.webp" alt="">
        <div class="about_content m-1 p-2">
            <p>Web developer, with extensive knowledge and years of experience, working in web technologies and Ui / Ux design, delivering quality work.</p>
        </div>
    </div>
</div>
